@use "../../scss/" as *;

.review {
    .title {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 25px;
        text-transform: capitalize;
        &::before {
            content: "";
            display: inline-block;
            height: 50px;
            width: 8px;
            background: linear-gradient(
                180deg,
                var(--heading_custom_border_color_1, #f80),
                var(--heading_custom_border_color_2, #ea3c2a)
            );
            border-radius: 1rem;
            top: 50%;
            transform: translateY(25%);
            left: 0;
            margin-right: 15px;
        }
    }

    .user-name {
        font-size: 1.25rem;
        line-height: 1.6;
        letter-spacing: 0.0075em;
        font-weight: 700;
    }

    &__content {
        // padding: 16px;
        margin-left: 16px;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 9999px;
    }

    .item {
        display: flex;
        padding: 16px;
        position: relative;
        &__content {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            // position: relative;

            .time {
                margin: 8px 0px 0px;
                font-weight: 400;
                font-size: 0.75rem;
                line-height: 1.66;
                letter-spacing: 0.03333em;
            }

            & > h4 {
                margin: 16px 0px 0px;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5;
                letter-spacing: 0.00938em;
                text-align: justify;
            }

            button {
                margin: 16px 0px 0px;
                position: absolute;
                right: 10px;
                top: 30%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                outline: none;
                border: none;
                font-size: 0.875rem;
                line-height: 1.75;
                letter-spacing: 0.02857em;
                text-transform: uppercase;
                min-width: 64px;
                padding: 6px 16px;
                border-radius: 4px;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                color: rgb(255, 255, 255);
                background-color: $main-color;
                box-shadow: none;
                width: max-content;

                @include tablet {
                    position: relative;
                    right: 0;
                    margin: 0;
                }

                &:hover {
                    box-shadow: 0 0 14px -1px $main-color;
                }

                & > svg {
                    margin-right: 4px;
                }
            }
        }
    }

    .review-box {
        margin: 32px 0px 0px;
        width: 100%;
        display: flex;

        &__content {
            margin-left: 16px;
            display: flex;
            flex-direction: column;
            width: 100%;

            textarea {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.4375em;
                letter-spacing: 0.00938em;
                color: rgb(255, 255, 255);
                cursor: text;
                padding: 16.5px 14px;
                background-color: transparent;
                resize: none;
                border-radius: 5px;
                &:focus-visible {
                    // outline: $main-color auto 1px;
                    border: none;
                }
            }

            button {
                margin: 16px 0px 0px;
                // position: absolute;
                // right: 10px;
                // top: 30%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                outline: none;
                border: none;
                font-size: 0.875rem;
                line-height: 1.75;
                letter-spacing: 0.02857em;
                text-transform: uppercase;
                min-width: 64px;
                padding: 6px 16px;
                border-radius: 4px;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                color: rgb(255, 255, 255);
                background-color: $main-color;
                box-shadow: none;
                width: max-content;

                &:hover {
                    box-shadow: 0 0 14px -1px $main-color;
                }

                & > svg {
                    margin-right: 8px;
                    transform: scale(1.25);
                }
            }
        }
    }

    hr {
        margin: 32px 0px 0px;
        border-width: 0px 0px 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.6);
    }
}
