// $body-bg: #141414;
$body-bg: #000;
$main-color: rgb(234, 96, 22);
$txt-color: #fff;

$white: #fff;
$black: #141414;
$light-orange: rgb(255, 135, 0);
$strong-orange: rgb(234, 60, 42);

$gradient-horizontal: linear-gradient(to right, rgb(255,135,0), rgb(234,60,42));
$gradient-vertical: linear-gradient(to bottom, rgb(255,135,0), rgb(234,60,42));

$lg-text: 36px;
$md-text: 20px;
$small-text: 16px;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$tiny-mobile-width: 500px;
$small-mobile-width: 700px;
$mobile-width: 900px;
// $tablet-width: 1024px;
$tablet-width: 1200px;

$font-family: "Roboto", sans-serif;
