@use "../../scss/" as *;

.navigation-swiper {
    & .swiper-slide {
        width: 100%;
        opacity: 0.6;
        padding-bottom: 3rem;
    }

    & .swiper-slide-active {
        opacity: 1;
    }
    & .swiper-pagination-bullet {
        background-color: #fff;
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        color: #fff;

        &::after {
            font-size: 2rem;
            @include mobile {
                font-size: 1rem;
            }
        }
    }
    & .swiper {
        padding-left: 4rem;
        padding-right: 4rem;

        @include mobile {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}
